*{
    font-family: 'Sofia Sans Condensed', sans-serif;
    text-align: center;
    text-transform: capitalize;
    border-radius: 5px;
}

body {
    background: rgb(9,41,121);
    background: linear-gradient(90deg, rgba(9,41,121,1) 4%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    
}

#input {
    padding: 5px;
    font-size: 25px;
    border-style: none;
}

#btn {
    padding: 10px;
    margin-left: 10px; 
    border-style: none;
}
